<!DOCTYPE html>
<html>
  <head>
    <title>Godzilla Review Board</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <image id="background" src="image/godzilla.jpg"></image>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          #parse( $template )
        </div>
      </div>
    </div>
  </body>
</html>
